ion-thumbnail {
  --size: 80px;
  margin-right: 10px;
}

ion-label h2 {
  font-weight: bold;
  margin-bottom: 4px;
}

ion-label p {
  font-size: 0.9em;
  color: #555;
}

ion-label p strong {
  color: var(--ion-color-primary);
}