<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title appHighlight="lightcyan" defaultColor=""> Loja de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Loja</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="errorMessage" class="ion-padding ion-text-center" style="color: red;">
    <p>{{ errorMessage }}</p>
    <ion-button (click)="loadProducts()">Tentar Novamente</ion-button>
  </div>

  <div *ngIf="!isLoading && !products.length && !errorMessage" class="ion-padding ion-text-center">
    <p>Nenhum produto encontrado.</p>
  </div>

  <ion-list *ngIf="!isLoading && products.length > 0">
    <ion-item *ngFor="let product of products" lines="inset">
      <ion-thumbnail slot="start">
        <img [src]="product.image" [alt]="product.title" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description | truncate:100:true }}</p> <p><strong>Preço:</strong> {{ product.price | currency:'BRL':'symbol':'1.2-2' }}</p> <p><small>Categoria: {{ product.category }}</small></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/about" color="secondary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>